/*                                                                             *
*           ██ ▄█▀ ██▓ █     █░ ██▓    ▄▄▄██▀▀▀▄▄▄       ██ ▄█▀▓█████          *
*           ██▄█▒ ▓██▒▓█░ █ ░█░▓██▒      ▒██  ▒████▄     ██▄█▒ ▓█   ▀          *
*          ▓███▄░ ▒██▒▒█░ █ ░█ ▒██▒      ░██  ▒██  ▀█▄  ▓███▄░ ▒███            *
*          ▓██ █▄ ░██░░█░ █ ░█ ░██░   ▓██▄██▓ ░██▄▄▄▄██ ▓██ █▄ ▒▓█  ▄          *
*          ▒██▒ █▄░██░░░██▒██▓ ░██░    ▓███▒   ▓█   ▓██▒▒██▒ █▄░▒████▒         *
*          ▒ ▒▒ ▓▒░▓  ░ ▓░▒ ▒  ░▓      ▒▓▒▒░   ▒▒   ▓▒█░▒ ▒▒ ▓▒░░ ▒░ ░         *
*          ░ ░▒ ▒░ ▒ ░  ▒ ░ ░   ▒ ░    ▒ ░▒░    ▒   ▒▒ ░░ ░▒ ▒░ ░ ░  ░         *
*          ░ ░░ ░  ▒ ░  ░   ░   ▒ ░    ░ ░ ░    ░   ▒   ░ ░░ ░    ░            *
*          ░  ░    ░      ░     ░      ░   ░        ░  ░░  ░      ░  ░         *
*                                                                              *
*                                                                              *
*                  .css created 2024/05/21                                     *
*                  by Kiwi Jake (HobbitsPuff@hotmail.com)                      *
*                                                                              *
*                  All rights reserved to Kiwi Jake                            *
*                                                                              *
*                                                                             */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}