/*                                                                             *
*           ██ ▄█▀ ██▓ █     █░ ██▓    ▄▄▄██▀▀▀▄▄▄       ██ ▄█▀▓█████          *
*           ██▄█▒ ▓██▒▓█░ █ ░█░▓██▒      ▒██  ▒████▄     ██▄█▒ ▓█   ▀          *
*          ▓███▄░ ▒██▒▒█░ █ ░█ ▒██▒      ░██  ▒██  ▀█▄  ▓███▄░ ▒███            *
*          ▓██ █▄ ░██░░█░ █ ░█ ░██░   ▓██▄██▓ ░██▄▄▄▄██ ▓██ █▄ ▒▓█  ▄          *
*          ▒██▒ █▄░██░░░██▒██▓ ░██░    ▓███▒   ▓█   ▓██▒▒██▒ █▄░▒████▒         *
*          ▒ ▒▒ ▓▒░▓  ░ ▓░▒ ▒  ░▓      ▒▓▒▒░   ▒▒   ▓▒█░▒ ▒▒ ▓▒░░ ▒░ ░         *
*          ░ ░▒ ▒░ ▒ ░  ▒ ░ ░   ▒ ░    ▒ ░▒░    ▒   ▒▒ ░░ ░▒ ▒░ ░ ░  ░         *
*          ░ ░░ ░  ▒ ░  ░   ░   ▒ ░    ░ ░ ░    ░   ▒   ░ ░░ ░    ░            *
*          ░  ░    ░      ░     ░      ░   ░        ░  ░░  ░      ░  ░         *
*                                                                              *
*                                                                              *
*                  .css created 2024/05/21                                     *
*                  by Kiwi Jake (HobbitsPuff@hotmail.com)                      *
*                                                                              *
*                  All rights reserved to Kiwi Jake                            *
*                                                                              *
*                                                                             */



html {
    background: black;
    height: 100%;
    
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden
}